# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Orbs are reusable packages of CircleCI configuration that you may share across projects, enabling you to create encapsulated, parameterized commands, jobs, and executors that can be used across multiple projects.
# See: https://circleci.com/docs/orb-intro/
orbs:
  # https://circleci.com/developer/orbs/orb/circleci/android
  android: circleci/android@2.3.0

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  run-tests-with-bitrise-build-cache:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/configuration-reference/#executor-job
    executor:
      name: android/android-machine
      tag: 2023.11.1

    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - android/change-java-version:
          java-version: 17
      - checkout
      - run:
          name: Checkout submodules as well
          command: |
            git "submodule" "update" "--init" "--recursive" "--jobs=10"
      - run:
          name: "Enable Build Cache for Gradle"
          command: |
            curl -fL https://storage.googleapis.com/quick-test/bitrise-build-cache-cli/bitrise-build-cache-"$(uname -s)"-"$(uname -m)"-0.0.3 > ~/bitrise-build-cache
            chmod +x ~/bitrise-build-cache
            ~/bitrise-build-cache enable-for gradle
      - run:
          name: Add Build Cache dependency hashes
          command: |
            ./gradlew --write-verification-metadata sha256
      - run:
          name: Lint PlayProdDebug
          no_output_timeout: 60m
          command: ./gradlew :Signal-Android:lintPlayProdDebug
      # - run:
      #     name: Assemble playProdDebug
      #     command: ./gradlew :Signal-Android:assemblePlayProdDebug

  run-tests-without-build-cache:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/configuration-reference/#executor-job
    executor:
      name: android/android-machine
      tag: 2023.11.1

    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - android/change-java-version:
          java-version: 17
      - checkout
      - run:
          name: Checkout submodules as well
          command: |
            git "submodule" "update" "--init" "--recursive" "--jobs=10"
      - run:
          name: Add Build Cache dependency hashes
          command: |
            ./gradlew --write-verification-metadata sha256
      - run:
          name: Lint PlayProdDebug
          no_output_timeout: 60m
          command: ./gradlew :Signal-Android:lintPlayProdDebug
      # - run:
      #     name: Assemble playProdDebug
      #     command: ./gradlew :Signal-Android:assemblePlayProdDebug

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  run-tests:
    jobs:
      - run-tests-with-bitrise-build-cache
      - run-tests-without-build-cache